<div class="nav flex-column nav-pills text-center side-nav" role="tablist" aria-orientation="vertical">
  <a class="nav-link <%=pageInfo.url.pathname=="/api/data/list"?"active": ""%>" href = "/api/data/list">数据类接口</a>
  <a class="nav-link <%=pageInfo.url.pathname=="/api/service/list"?"active": ""%>" href = "/api/service/list">服务类接口</a>
  <a class="nav-link <%=pageInfo.url.pathname=="/api/map/list"?"active": ""%>" href = "/api/map/list">地图累接口</a>
</div>