<div class = 'text-center footer clearfix'>
  <p>
    <a href = "/static/iov-site/history.html" class = 'text-white'>智科历程</a>
    <a href = "/static/iov-site/ecology.html" class = 'text-white'>战略生态</a>
    <a href = "/static/iov-site/terminal-products.html" class = 'text-white'>终端产品</a>
    <a href = "/static/iov-site/platform-products.html" class = 'text-white'>平台产品</a>
  </p>
  <p>
    @福田智科
  </p>
</div>